@page
@model Codeping.Utils.Silly.Recovery.Pages.IndexModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>访问受限</title>
</head>
<body>
    <h1>请付尾款!!!</h1>
</body>
</html>
